
@font-face {
	font-family: 'CentraNo2-Medium';
	src: url('assets/CentraNo2-Medium.otf');
}

@font-face {
	font-family: 'CentraNo2-Extrabold';
	src: url('assets/CentraNo2-Extrabold.otf');
}


body {
		width: 220px;
}
h1 {
		max-width: 200px;
		font-family: 'CentraNo2-Extrabold';
}
p {
		font-family: 'CentraNo2-Medium';
		font-size: 10px;
}
b {
		font-family: 'CentraNo2-Extrabold';
}

#logText {
	font-size: 15px;
	color: #14a09c;
	font-family: 'CentraNo2-Extrabold';
}

#logBottom {
	margin-top: -18px;
	margin-left: -3px;
	background-color: #14a09c;
	border-color: #14a09c;
	width: 61px;
	position: relative;
	border-top-width: 1px;
	border-top-left-radius: 1px;
	border-bottom-width: 1px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 2px;
	height: 2px;
}

#logRight {
	left: 64px;
	margin-left: -8px;
	top: -9px;
	background-color: #14a09c;
	border-color: #14a09c;
	position: relative;
	border-top-width: 1.5px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	height: 7px;
	width: 2px;
}

.example_div {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 40%;
}

.example_text {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.color-picker-source {
    width: 55px;
}
.color-picker {
    font-size: 10px;
}
.color-picker.no-alpha .color-picker\:a {
    display: none;
}

.bright {
		color: white;
}
#colorpicker {
		width: 60px
}
.color-picker__control--a {
		display: none;
}
table {
		width: 100%;
		text-align: center
}
tr {
		width: 50%;
}
#letterinput {
		width: 10px;
}
#confirm_button {
		max-width: 60px;
		position: relative;
		cursor: pointer;
		left: 70%;
		top: -20px;
		margin-bottom: -8px;
}
