
@font-face {
	  font-family: 'CentraNo2-Medium';
	  src: url('assets/CentraNo2-Medium.otf');
}

@font-face {
	  font-family: 'CentraNo2-Extrabold';
	  src: url('assets/CentraNo2-Extrabold.otf');
}
body {
	  width: 240px;
	  max-width: 250px;
}
h1 {
	  font-family: 'CentraNo2-Extrabold';
	  font-size: 2.0em;
}
p {
	  font-family: 'CentraNo2-Medium';
}
b {
	  font-family: 'CentraNo2-Extrabold';
}
#qrcode {
	  margin: 20px;
}
